
html{
    margin: 0;  
}
.container{
    width: 1200px;
    margin: 0 auto;
}

ul{
    margin: 0;
    list-style-type: none;  
  }
  
a{
    color: rgb(231, 15, 15);
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 20px; 
    text-decoration: none; 
    margin-left: 70px; 
    margin-right: 70px; 
}  
.main li{
     display: inline-block; 
}

.main {
    display: flex;
    justify-content:center;
    align-items:center

}

 .header{
     margin: 10px auto; 
     text-align: center; 
     margin-left:200px; 
     margin-right: 70px;    
}
  
.img{
    width: 100%;
    }

h2 {
    text-align: center;
    font-family:verdana;
   }

p{
    text-align: center;
    font-family:Arial;
    line-height: 1.5;
    font-size:100%;
}

.right{
    text-align: right;
    font-family:Arial;
    font-size: 25px;
    font-weight: 550;
}

.footer{
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
    margin: auto;
    padding-top: 27px;
   border-radius: 5px;
    font-weight: 600;
 } 

    
